h1, h2 {
  text-align: center;
  color: darkred;
  font-family: 'Arial';
}
h2 {
  color: black;
}
nav {
  position: absolute;
  left: 50%;
  top: 40%
}
footer {
  color: darkred;
  position: absolute;
  bottom: 10px;
}
